<?xml version="1.0"?>
<config>
    <modules>
        <D3w_Album>
            <version>1.6.0.0.1</version>
        </D3w_Album>
    </modules>
    <global>
        <models>
            <d3w_album>
                <class>d3w_album_model</class>
                <resourceModel>d3w_album_resource</resourceModel>
            </d3w_album>
            <d3w_album_resource>
                <class>D3w_Album_Model_Resource</class>
                <entities>
                    <photo>
                        <table>album_photo</table>
                    </photo>
                    <comment>
                        <table>photo_comments</table>
                    </comment>
                </entities>
            </d3w_album_resource>
        </models>
        <resources>
            <d3w_album_setup>
                <setup>
                    <module>D3w_Album</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </d3w_album_setup>
        </resources>
        <helpers>
            <d3w_album>
                <class>D3w_Album_Helper</class>
            </d3w_album>
        </helpers>
        <blocks>
            <d3w_album>
                <class>D3w_Album_Block</class>
            </d3w_album>
        </blocks>
    </global>
    <frontend>
        <routers>
            <d3w_album>
                <use>standard</use>
                <args>
                    <module>D3w_Album</module>
                    <frontName>album</frontName>
                </args>
            </d3w_album>
        </routers>
        <layout>
            <updates>
                <d3w_album>
                    <file>album.xml</file>
                </d3w_album>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <D3w_Album before="Mage_Adminhtml">D3w_Album_Adminhtml</D3w_Album>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <album>
                    <file>album.xml</file>
                </album>
            </updates>
        </layout>
    </adminhtml>
</config>
